@font-face {
    font-family: AvenirLTStdMedium;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
    
   

}

@font-face {
    font-family: AvenirNextLTPro-MediumCn;
    src: url(../fonts/AvenirNextLTPro-MediumCn.otf);
    
}

#paralelogramo input{
	background: transparent;
	border-style: none;
	-webkit-transform:skew(50deg);
	-moz-transform:skew(50deg);
	-o-transform:skew(50deg);
	padding-left: 1em;
	width: 11.5em;
	font-family: AvenirLTStdMedium;
	font-size: 0.9em;
	color: #5b62ab;
	font-weight: 800;
	font-style: oblique;

}

input:focus{
	outline: none;

	
}

hr{
	height: 0.2em;
	background: #5b62ab;
}

.cor_font{
	color: #5b62ab;
	font-family: AvenirLTStdMedium;
}

.font_style{
	font-family: AvenirLTStdMedium;
}

a:link{
	text-decoration: none;

}


h2, p{

	font-family: AvenirLTStdMedium;
	font-size: 1.3em;
}




#paralelogramo{
	display: inline-block;
	border-style: solid;
	height: 1.8em;
	width: 12.5em;
	margin-left: 1em;
	-webkit-transform:skew(-50deg);
	-moz-transform:skew(-50deg);
	-o-transform:skew(-50deg);
	border-color: rgba(174,182,229,100);
	border-width: 0.3em;
	border-radius: 0.3em;
}

#logo{
	width: 30em;
}

#logo_project{
	width: 9em;
}

#lupa{
	padding-bottom: 1.09em;
}

#botao_menu{

}

#div_lupa{
	margin-top: 3em;
	margin-bottom: 2em;
	float: right;
	padding-right: 0em;
}


#title_menu_project{
	list-style-type: none;
	display: inline-block;
}

#title_project{
	font-family: AvenirLTStdMedium;
	font-size: 3em;
	color: #5b62ab;
}

#subTitle_project{
	font-family: AvenirLTStdMedium;
	font-size: 1.2em;
	color: #5b62ab;
}

#img_lateral img{
	
	padding: 0.24em;
}

#img_footer{
	padding-top: 2em;
	padding-left: 6em;
}

#img_footer img{

	width: 9em;

}

.img_footer_ministerio img{
	padding-top: 2em;
}


.img_footer_project{

	width: 130px;
	max-height: 15em;
}

#style-footer li{

	list-style-type: none;
}



#style-footer div{

	padding-top: 1em;
	color: white;
}

#style-footer{
	margin-top: 5em;
	background: #5b62ab;
	


}

#footer{
	margin-top: 5em;
	background: #5b62ab;
	position: absolute;
	bottom: 0;
	width: 100%;

}

.car{
	/*imagens 550x350*/
}

#containerCar{

	margin-top: 3em;
	
}

#containerNot{
	margin-top: 5em;
}

#containerNot img{


}

#style-menu{
	background: #5b62ab;

}

#style-menu a{
	color: white;
}
#style-menu a:hover{
	color: aqua;
}

#icon-menu{
	padding: 0;
	margin: 0;
	
}





.paddingSepareteMenuItens{
	padding-top: 1%;

}

.itensMenu{
	font-family: AvenirLTStdMedium;
	font-size: 1.1299em;
	font-style: normal;
	
}
/*imagensc ar 550 450 lateral 550 200*/


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}

#estilo_menu_lateral li{
	padding-left: 3em;
	font-family: AvenirLTStdMedium;
	font-size: 1.3em;
}

#cabecalho_menu_lateral{
	font-family: AvenirLTStdMedium;
	padding-left: 2.1em;
	font-style: normal;
	color: #5b62ab;

}

#titulo_noticia{
	color: #5b62ab;
}

#descricao_noticia{
	color: #5b62ab;
}

.title{
	color: #5b62ab;
	font-size: 2.5em;
	font-weight: 500;
}

.titleProject{
	color: #5b62ab;
	font-size: 1.7em;
	font-weight: 500;
}

.hide {
	display: none;
}

/*Css panel admin*/

#panel_admin_logout{
	margin-top: 3em;
}

#panel_admin_logout li{
	list-style-type: none;
	display: inline-block;
	font-size: 0.9em;
}


/*style footer*/

#style-footer-nepops-dados{
	margin-top: 5em;
}

#style-footer-nepops-dados ul{
	padding-top: 3em;
}

#style-footer-nepops-dados ul li a{
	list-style: none;

	color: #ffffff;
}

#style-footer-nepops-dados ul li{
	list-style: none;
	font-size: 0.8em;
	padding: 0.3em;
	font-family: AvenirLTStdMedium;
}



#style-footer-nepops-img{



}

#style-footer-nepops-img img{
	padding-top: 2em;
	padding-bottom: 2em;

}

#footer-main{
	background: #5b62ab;
}

/*fim style footer*/


/*inicio imagens home*/
.imgPrin{
	width: 41em;
	height: 32em;
	overflow: hidden;
}

.imgPrin2{
	width: 41em;
	height: 16em;
	overflow: hidden;
}

.imgProjetosNoticias{
	width: 25em;
	height: 15em;
	overflow: hidden;
}

.imgProjetos{
	width: 27em;
	height: 15em;
	overflow: hidden;
}

#tituloProjeto{
	font-family: sans-serif;
	color: #5b62ab;
	font-size: 1.5em;
	
}

#descricaoProjeto{
	color: black;
	font-family: sans-serif;
	font-size: 0.5em;

}

#imgProjetoLogo{
	width: 19em;
	height: 19em;
	overflow: hidden;

}

#imgProjetoLogo img{
	margin-right: 2em;

}

#maps iframe{
	width: 100%;
	height: 400px;
}

.widthandHeight{
	width: 100%;
	height: 100%;
}

/*fim imagens home*/